@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Jura-VariableFont_wght.woff") format("woff");
	font-display: swap;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.page__body {

	@media (min-width: 1440px) {
		width: 1400px;
		margin: 0 auto;
		margin-top: 20px;
		background-color: #c5cbe3;
	}
}

.navigation {
	position: relative;
	z-index: 5;
	@media (min-width: 1440px) {
		padding: 0 50px 0 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 120px;
		border-radius: 50px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
		background-color: #2441a1;
		/*background-color: #022AF5;   162540*/
	}
}

.navigation__communication {
	display: flex;
	flex-direction: column;
}

.navigation__communication-link {
	font-family: "Jura", serif;
	font-weight: 700;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.navigation__logo-img {
	margin-right: 50px;
}

.naigation__social-network-link {
	text-decoration: none;
}

.initial-banner {
	margin-top: -65px;
	margin-bottom: 0;

	@media (min-width: 1440px) {
		width: 1400px;
	}
}

.initial-banner__container {
	border-radius: 30px;
}

.initial-banner__slogan {
	margin: 180px 50px 200px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: auto;
}

.initial-banner__subtitle {
	font-family: "Jura", serif;
	color: white;
	font-weight: 700;
	width: 650px;
	margin: 0 auto;
	margin: 0;
	line-height: 70px;
	z-index: 2;

	@media (min-width: 1440px) {
		font-size: 85px;
		margin-bottom: 35px;
		position: relative;
	}
}

.initial-banner__preview-subtitle {
	color: white;
	font-family: "Jura", serif;
	font-weight: 600;
	font-size: 30px;
	margin: 0 0 0 50px;
	padding: 30px 0 30px 0;

}

.initial-banner__button {

	height: 72;
	position: relative;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: "Jura", serif;
	/*background-color: #C5F948; 94E9F2*/
	background-color: #f13c20;
	border-radius: 10px;
	z-index: 3;
	border: none;

	@media (min-width: 1440px) {
		font-weight: 700;
		font-size: 25px;
		padding: 20px 35px;
	}
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	z-index: -1;
}

.fullscreen-bg {
	overflow: hidden;
	pointer-events: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.initial-banner__preview {
	margin-top: -50px;
	z-index: 4;
	/*background-color: rgb(247, 77, 15);*/
	background-color: #2441a1;
	border-radius: 30px;
}

.about-section__container {
	border-radius: 30px;
}

.about-section__card {
	padding: 0;
	background-color: #163C40;
	border-radius: 30px;
}

.about-section {
	margin-bottom: 40px;
}

.about-section__subtitle {
	font-family: "Jura", serif;
	font-weight: 700;
	font-size: 35px;
	color: white;

	@media (min-width: 1440px) {
		margin: 0;
		padding: 65px 0 30px 50px;
	}
}

.about-section__list {
	margin: 20px 0 0 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	gap: 20px;

}

.about-section__item {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	gap: 20px;
}

.item-block-big {
	width: 1000px;
	height: 500px;
}

.item-block-small {
	width: 380px;
	height: 500px;
	display: flex;
	flex-direction: column;
	font-family: "Jura", serif;
	background-color: #1C818C;
	color: white;
	border-radius: 15px;
}

/*----- services -----*/

.services {
	border-radius: 30px;
	font-family: "Jura", serif;
	margin-bottom: 40px;
}

.services__container {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.services__container-image {
	position: relative;
	align-self: center;
}

.services__container-image:hover .slider-button-left {
	opacity: 1;
}

.services__container-image:hover .slider-button-right {
	opacity: 1;
}

.services__img {
	background-size: cover;
	border-radius: 15px;
	transition: opacity 0.5s ease-in-out;
}

.services__img.visually-hidden {
	opacity: 0;
	pointer-events: none;
}

.services__img:not(.visually-hidden) {
	opacity: 1;
}

.services__button-image {
	position: absolute;
	padding: 40px;
	border-radius: 50%;
	border: none;
	background-color: rgba(247, 246, 246, 0.5);
}

.slider-button-left {
	left: 0;
	margin-left: 20px;
	bottom: 50%;
    background-image: url('./image/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
	opacity: 0;
}

.slider-button-right {
    right: 0;
	margin-right: 20px;
	bottom: 50%;
    background-image: url('./image/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
	opacity: 0;
}

.services__description {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 0 0 0 40px;
}

.services__subtitle {
	padding: 20px 20px 10px 20px;
	margin: 0;
	font-size: 30px;
	font-weight: 700;
	color: white;
}

.services__section-text {
	padding: 0 20px 10px 20px;
}

.services__text {
	font-size: 22px;
	text-align: justify;
}

.services__button {
	font-family: "Jura", serif;
	color: black;
	border: none;
	background-color: #94E9F2;
	border-radius: 15px;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 0;
	margin: auto 20px 20px;

}


/*----- clients -----*/

.clients__container {
	background-color: #022AF5;
	border-radius: 30px;
	color: white;
	font-family: "Jura", serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	margin-bottom: 40px;
}

.clients__subtitle {
	margin: 0 0 15px 0;
	font-size: 50px;
}

.clients__text {
	font-size: 30px;
	margin-bottom: 40px;
}

.clients__image-block {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.clients__img {
	border-radius: 50%;
}

/*----- reviews -----*/

.reviews__card {
	display: flex;
	flex-direction: column;
	font-family: "Jura", serif;
	background-color: #C5F948;
	border-radius: 30px;
	padding: 20px;
}

.reviews__subtitle {
	margin: 0;
	font-size: 50px;
}

.reviews__list {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 30px;
}

.reviews__item {
	display: flex;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 25px;
	gap: 20px;
	background-color: white;
}

.reviews__img {
	object-fit: cover;
	border-radius: 10px;
}

.reviews__text {
	font-size: 23px;
	font-weight: 600;
	text-align: justify;
	margin: 0;
	padding-bottom: 10px;
}

.reviews__subtitle-small {
	font-size: 30px;
	margin: 0;
}

/*----- footer -----*/

.main-footer {
	margin-top: 40px;
	height: 150px;
	border-top-left-radius: 25px;
  	border-top-right-radius: 25px;
	background-color: #022AF5;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__list {
	color: white;
	font-family: "Jura", serif;
	font-weight: 700;
	font-size: 20px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/*---- modal-window ----*/

.modal-window {
	position: fixed;
	top: 0;
  	right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
	z-index: 60;
}

.modal-window--close {
	display: none;
}

.modal-container {
	width: 717px;
    height: 576px;
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 396px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
	position: relative;
}

/*----- contact -----*/

.main-container__contact {
	height: 400px;
	background-color: beige;
	border-radius: 25px;
}

.contact__subtitle {
	text-align: center;
	font-family: "Jura", serif;
	font-size: 30px;
	width: 700px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 70px;
}

.contact__form-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__input {
	width: 250px;
	height: 30px;
	border: none;
	border-radius: 30px;
	margin-bottom: 40px;
	font-family: "Jura", serif;
	font-size: 18px;
	text-align: center;
	border: 1px solid #022AF5;
}

.contact__button {
	font-family: "Jura", serif;
	border: none;
	width: 150px;
	padding: 10px 0 10px 0;
	border-radius: 25px;
	font-size: 20px;
	background-color: #022AF5;
	color: white
}

.button-close {
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	background-color: #022AF5;
	position: absolute;
	cursor: pointer;
}

.button-close::after,
.button-close::before {
	content: '';
	display: inline-block;
	background-color: white;
	width: 30px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-close::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.button-close::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
