@font-face {
	font-family: "Jura";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Jura-VariableFont_wght.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src:
	  url("/fonts/Montserrat-Regular.woff2") format("woff2"),
	  url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
	font-family: "Montserrat-ExtraBold";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src:
	  url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
	  url("/fonts/Montserrat-ExtraBold.woff") format("woff");
}

:root {
	--basic-color:#2A282B;
	--second-color:#4B57F9;
	--border-color:#d8dde0;
	--background-color:#F5F9FC;
	--primary-color:#2042E2;

	--text-basic-color: #FFFFFF;
}

.text-header-link {
	font-family: "Montserrat", sans-serif;
	font-size: 17px;
	font-weight: 500;
}

.offer-text-link {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.text-button {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 20px;
}

.about-text-button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 17px;
}

.second-text {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
}


.heading1 {
	font-family: "Montserrat", sans-serif;
	font-size: 55px;
	font-weight: 700;
}

.heading2 {
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
	font-weight: 700;
}

.heading3 {
	font-family: "Montserrat", sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.page__body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
}

/*-----------navigation------------*/

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (min-width: 1440px) {
		width: 1380px;
		margin: 0 auto;
		padding: 30px 30px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	}
}

.navigation__communication {

	@media (min-width: 1440px) {
		display: flex;
		flex-direction: column;
	}
}

.navigation__communication-link {
	color: var(--basic-color);
	text-decoration: none;
	font-style: normal;
}

.naigation__social-network {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;

	@media (min-width: 1440px) {
		gap: 20px;
	}
}

/*-----------initial-banner------------*/

.initial-banner__container {
	border-radius: 30px;
}

.fullscreen-bg {
    position: relative;
    height: 100%;
    width: 100%;
	z-index: 1;
	margin: 0 auto;
}

.initial-banner__slogan {
	width: 1440px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: flex;
}

.fullscreen-bg__video {
	width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
	border-radius: 4px;
}

.initial-banner__block-text {
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 1360px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.initial-banner__subtitle {
	color: var(--text-basic-color);
	margin: 0;

	@media (min-width: 1440px) {
		width: 850px;
	}
}

.initial-banner__button {
	text-decoration: none;
	color: var(--text-basic-color);
	text-transform: uppercase;
	background-color: var(--second-color);
	border-radius: 4px;
	z-index: 3;
	border: none;

	@media (min-width: 1440px) {
		padding: 20px 35px;
	}
}

/*-----------we-offer------------*/

.we-offer__container {
	@media (min-width: 1440px) {
		display: flex;
		justify-content: center;
		width: 1380px;
		margin: 0 auto;
		padding: 80px 30px;
		box-shadow:
			0 -10px 15px -5px rgba(0, 0, 0, 0.2), /* Тень сверху */
			10px 0 15px -5px rgba(0, 0, 0, 0.2),  /* Тень справа */
			-10px 0 15px -5px rgba(0, 0, 0, 0.2);
	}
}

.we-offer__text-block {
	margin: 0;
}

.we-offer__subtitle {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	&::after {
        content: '';
        display: inline-block;
		width: 350px;
		height: 4px;
		background-color: var(--primary-color);
		margin: 20px 0 10px 0;
    }
}

.we-offer__content-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 70px;
}

.we-offer__list {
	list-style: none;
	margin: 0;
	padding: 60px;
	display: flex;
	flex-direction: row;
	gap: 50px;
	background-color: var(--background-color);

}

.we-offer__item {
	background-color: var(--text-basic-color);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.we-offer__link {
	text-decoration: none;
	color: var(--basic-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 250px;
	height: 250px;
	border: 2px solid #E5EAFD;
	gap: 25px;
}

.link-advertising {
    &::before {
        content: '';
        display: inline-block;
		background-image: url('./image/icon-billboard.svg');
		background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;

		@media (min-width: 1440px) {
			width: 70px;
        	height: 70px;
		}
    }
}

.link-digital {
    &::before {
        content: '';
        display: inline-block;
        width: 70px;
        height: 70px;
        background-image: url('./image/icon-printer.svg');
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
}

.link-souvenir {
    &::before {
        content: '';
        display: inline-block;
        width: 70px;
        height: 70px;
        background-image: url('./image/icon-souvenir.svg');
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
}

.link-printing {
    &::before {
        content: '';
        display: inline-block;
        width: 70px;
        height: 70px;
        background-image: url('./image/icon-printing.svg');
        background-size: cover;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
}

.we-offer__img {
	border-radius: 15px;
}

/*-----------about-section------------*/

.about-section__block {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

	@media (min-width: 1440px) {
		width: 1440px;
		margin: 0 auto;
		padding: 0;
	}
}

.about-section__card {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.about-section__item {
	height: 500px;
}

.section-image {
	position: relative;
	align-self: center;

	&:hover .slider-button-left,
	&:hover .slider-button-right {
		opacity: 1;
	}
}

.section-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 480px;
	background-color: var(--second-color);
	z-index: 2;
}

.about-section__subtitle {
	color: var(--text-basic-color);
	text-align: center;

	@media (min-width: 1440px) {
		margin: 0;
		padding: 20px 20px;
	}
}

.about-section__text {
	color: var(--text-basic-color);
	text-align: justify;

	@media (min-width: 1440px) {
		margin: 0;
		padding: 0 20px 20px;
	}
}

.about-section__img {
	display: flex;
	background-size: cover;
	transition: opacity 0.1s ease-in-out;
}

.about-section__img.visually-hidden {
	opacity: 0;
	pointer-events: none;
}

.about-section__img:not(.visually-hidden) {
	opacity: 1;
}

.about-section__button {
	text-transform: uppercase;
	border: none;
	color: var(--second-color);
	background-color: var(--text-basic-color);
	border-radius: 4px;
	padding: 10px 20px;
}

.services__container-image {
	position: relative;
	align-self: center;
}

.services__container-image:hover .slider-button-left {
	opacity: 1;
}

.services__container-image:hover .slider-button-right {
	opacity: 1;
}

.about-section__button-image {
	position: absolute;
	padding: 40px;
	border-radius: 50%;
	border: none;
	background-color: rgba(247, 246, 246, 0.5);
}

.slider-button-left {
    left: 0;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('./image/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    position: absolute;
}

.slider-button-right {
    right: 0;
	margin-right: 20px;
	top: 50%;
    transform: translateY(-50%);
    background-image: url('./image/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
	opacity: 0;
	position: absolute;
}

/*-----------clients------------*/

.clients__container {
    width: 1380px;
    padding: 80px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
}

.clients__subtitle {
	margin: 0;
	color: var(--basic-color);
	align-items: center;
	display: flex;
	flex-direction: column;

	&::after {
        content: '';
        display: inline-block;
		width: 450px;
		height: 4px;
		background-color: var(--primary-color);
		margin: 20px 0 10px 0;
    }
}

.clients__text {
	color: var(--basic-color);
	margin: 0;
}

.clients__image-block {
    overflow: hidden;
    width: 100%;
}

.clients__list {
	list-style: none;
    display: flex;
    min-width: calc(220px * 10 + 70px * 9);
    animation: scroll 20s linear infinite;
    will-change: transform;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.clients__img {
    border-radius: 50%;
    flex-shrink: 0;
    width: 220px;
    height: 220px;
    margin-right: 70px;
}

/*----- map -----*/

.map__iframe {
	width: 1440px;
	height: 600px;
	margin: 0 auto;
	border: none;
	display: block;
}

/*----- footer -----*/

.main-footer {
	width: 1380px;
	margin: 0 auto;
	padding: 0 30px;
	height: 150px;
	background-color:var(--basic-color);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__list {
	color: white;
	font-family: "Jura", serif;
	font-weight: 700;
	font-size: 20px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/*---- modal-window ----*/

.modal-window {
	position: fixed;
	top: 0;
  	right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
	z-index: 60;
}

.modal-window--close {
	display: none;
}

.modal-container {
	width: 717px;
    height: 576px;
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 185px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
	position: relative;
}

/*----- contact -----*/

.main-container__contact {
	height: 400px;
	background-color: beige;
	border-radius: 25px;
}

.contact__subtitle {
	text-align: center;
	font-family: "Jura", serif;
	font-size: 30px;
	width: 700px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 70px;
}

.contact__form-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__input {
	width: 250px;
	height: 30px;
	border: none;
	border-radius: 30px;
	margin-bottom: 40px;
	font-family: "Jura", serif;
	font-size: 18px;
	text-align: center;
	border: 1px solid #022AF5;
}

.contact__button {
	font-family: "Jura", serif;
	border: none;
	width: 150px;
	padding: 10px 0 10px 0;
	border-radius: 25px;
	font-size: 20px;
	background-color: #022AF5;
	color: white
}

.button-close {
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	background-color: #022AF5;
	position: absolute;
	cursor: pointer;
}

.button-close::after,
.button-close::before {
	content: '';
	display: inline-block;
	background-color: white;
	width: 30px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button-close::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.button-close::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}
